.menu{
    flex: 1;
    min-height: 100vh;
    background-color: #f2f2f2; 
}
.body{
    display: flex;
    overflow: auto;
}
.informe{
    flex: 0 0 80%;
    min-height:35vh;
    background-color: #e6e6e6; 
    min-height: 37vh;
    background-color: #e6e6e6;
    display: flex;
    flex-direction: column;
      
}
#navbarSupportedContent{
    display: flex;
    justify-content: space-between;
}

ul{
    display: flex;
    justify-content: space-between;
    width: 150%!important;

}
li{
    text-align: center;
}

#linea{
    padding-top: 7vh;
}
.texto{
    margin-left: 20px;
}
.bg-light {
    background-color:#9ae465!important;
    border-radius: 4px;
  }