<div>
<bootcamp-osakamp-header></bootcamp-osakamp-header>
</div>
<div class="container-fluid">
    <div id="linea"><p></p></div>
    <div class="row">
      <div class="col-md-3 sidebar">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <div class="container-fluid" id="cuadricula">
            <div class="navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav justify-content-center mb-2 mb-lg-0">
                <li class="nav-item flex-fill">
                  <a class="nav-link" [routerLink]="['dia']"><i class="bi bi-calendar-week"></i>Dia</a>
                </li>
                <li class="nav-item flex-fill">
                  <a class="nav-link" [routerLink]="['mes']">Mes</a>
                </li>
                <li class="nav-item flex-fill">
                  <a class="nav-link" [routerLink]="['year']">Año</a>
                </li>
              </ul>
            </div>
          </div>
        </nav>
      </div>
      <div class="col-md-9">
        <div class="informe">
          <p class="texto mt-3 ml-5"></p>
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
  </div>
  