<div class="container"><h2 class="ml-3">Este es tu informe de Dia {{fecha_nueva}}</h2>

<input type="date" id="dia" name="dia" [(ngModel)]="dia" >

<button style="--c:#E95A49" class="button9" (click)="Datos()">Generar datos</button>
{{dia}}
{{fecha_nueva}}
<table >
    <tbody>
        <tr >
        <td style="width:100px" class="border-1">Fecha</td>

        <td style="width:100px" class="border-1">Horario Entrada</td>
        
        <td style="width:100px" class="border-1">Horario salida</td>

        <td style="width:100px" class="border-1">Ausenc</td>
        
        <td style="width:100px" class="border-1">Horas Traba</td>
        <td style="width:100px" class="border-1">Horas Ausen</td>

    </tr>
</tbody>
</table>
<table>
    <tr *ngFor="let registro of datos">
        <td style="width:100px" class="border-1">{{registro.date}}</td>
        <td style="width:100px" class="border-1">{{registro.timeIn}}</td>
        <td style="width:100px" class="border-1">{{registro.timeOut}}</td>
        <td style="width:100px" class="border-1">{{registro.ausencia}}</td>

        <td style="width:100px" class="border-1">{{registro.total | number:'1.2-2'}}</td>
        <td style="width:100px" class="border-1">{{registro.totalAusencia | number:'1.2-2'}}</td>
        
    </tr>
    <tr>
        <td style="width:100px"></td>
        <td style="width:100px"></td>
        <td style="width:100px"></td>
        <td style="width:100px"></td>
        <td style="width:100px" class="border-1">{{sum | number:'1.2-2'}}</td>
        <td style="width:100px" class="border-1">{{sumAusencia | number:'1.2-2'}}</td>
     </tr>
     <br>
     <br>
     <tr *ngFor="let registro of datosAusencias">
        <td style="width:100px" class="border-1">{{registro.date}}</td>
        <td style="width:100px" class="border-1">{{registro.timeIn}}</td>
        <td style="width:100px" class="border-1">{{registro.timeOut}}</td>
        <td style="width:100px" class="border-1">{{registro.ausencia}}</td>

        
        <td style="width:100px" class="border-1">{{registro.totalAusencia | number:'1.2-2'}}</td>
        
    </tr>
    <tr>
        <td style="width:100px"></td>
        <td style="width:100px"></td>
        <td style="width:100px"></td>
        <td style="width:100px"></td>
        
        <td style="width:100px" class="border-1">{{sumAusencia | number:'1.2-2'}}</td>
     </tr>

</table>
</div>

